@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black antialiased selection:bg-blue-500 selection:text-white;
}

/* Scrollbar Gizleme / Özelleştirme */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
